.card2 {
    background-color: white;
    padding: 0;
    margin: 10px 0;
    box-shadow: 0 1px 2px #aaa;
    cursor: pointer;
    color: gray;
}
.card2:hover {
    background-color: #FCF9FA;
    color: black;
}
.card2 img.card-thumbnail {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}
.card2 .selected {
    margin: 5px 0;
}
.unread {
    background-color: #ffdcda;
}
/*
.card2 > div > p {
    text-align: center;
}
*/

.card2 > h1,
h2,
h3,
h4,
h5,
h6,
.card2.header {
    padding: 0 15px;
    /*    text-align: center;*/
}
.card2 > div.content {
    padding: 15px;
}
.card2 p.date {
    padding: 2px 5px;
    text-align: center;
}
.card2 h1.header {
    font-size: 4rem;
    font-weight: 300;
    margin-top: 5px;
}
.card2 h2.header {
    font-size: 3.5rem;
    font-weight: 300;
    margin-top: 5px;
}
.card2 h3.header {
    font-size: 3rem;
    font-weight: 200;
    margin-top: 5px;
}
.card2 .badges {
    padding: 5px;
    color: #aaa;
}
.card2 .comment-group {
    padding: 5px;
    background-color: #f6f7f8;
    border-top: 1px solid lightgray;
}
.card2 .comment-group .link {
    max-width: 100%;
    height: auto;
    padding: 3px 0;
    margin: 2px 0;
}
.comment-group > div {
    margin-bottom: 10px;
}
.comment-group > div > input {
    margin-bottom: 10px;
}
.comment-group > div > .comment {
    text-align: left;
}
.card2 > .card2-content > textarea.post {
    border: transparent;
    background-color: transparent;
    min-height: 45px;
    width: 100%;
    max-width: 100%;
}
.card2 > .footer {
    padding: 5px;
    background-color: #E9EAEA;
}
.card2 .link-footer {
    height: auto;
    max-width: 100%;
    padding: 15px 5px;
    text-align: center;
    border-top: 1px #edeeef solid;
    background: rgb(246, 247, 248);
}
.card2 .link-footer:hover {
    background-color: #EFF0F1;
}
.btn-img-upload {
    color: transparent;
}
.btn-img-upload::-webkit-file-upload-button {
    visibility: hidden;
}
.btn-img-upload::before {
    content: 'Select some files';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.btn-img-upload:hover::before {
    border-color: black;
}
.btn-img-upload:active {
    outline: 0;
}
.btn-img-upload:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.btn-options {
    border-radius: 0;
    border-width: 0;
    background-color: transparent;
}