<template name="form_post">
    <section class="col-md-12 card2">
        <div class="card2-content">
            {{#if IsImageUrl}}
            <img src="{{ImageUrl}}" />{{/if}}
            <textarea id="txaPublishPost" maxlength="200" class="post" placeholder="What's on your mind"></textarea>
        </div>
        <div class="col-md-12 footer">
            <button id="btnAddImages" class="btn btn-flat"><i class="fa fa-image fa-lg"></i>
            </button>
            <button id="btnPublishPost" class="btn btn-primary pull-right">publish</button>
        </div>
    </section>
</template>