<template name="landing">
    <div class="container" style="margin-top: 40px">
        <div class="col-md-8" style="color:white;">
            <h3 class="text-center">a social box for sharing your life and love problem secretly</h3>
            <img src="/img/landing.png" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <h4 class="text-center" style="color:white;">sign-up as stranger. everyone never know you</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                {{>signin}}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                {{>signup}}
                </div>
            </div>
        </div>
    </div>

</template>